!DOCTYPE html>
<html>
<head>
<style type = "text/css">
p1{}
  p1
  {
    color:black;
  }
  h{}
    h{
      color:black;
    }
img{}
  img{
    display:none;
  }
  body{
    background-color: white;
    text-align: center;
  }
  a{}
  a:link{
    color:blue;
  }
  a:visited{
    color:blue;
  }
  </style>
  </head>
  </html>
